body {
    font-family: "Arial", sans-serif;
    background-color: #eef2f3;
  }
  
  .profile-container {
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid #e4e4e4;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.2s;
  }
  
  .profile-container:hover {
    transform: scale(1.009);
  }
  
  .profile-heading {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  .profile-img {
    width: 30%;
    border-radius: 53px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-detail {
    margin-bottom: 15px;
    font-size: 18px;
    color: #555;
  }
  
  @media (max-width: 600px) {
    .profile-container {
      padding: 15px;
    }
  
    .profile-heading {
      font-size: 24px;
    }
  
    .profile-detail {
      font-size: 16px;
    }
  }